* {
    margin: 0;
    padding: 0;
}

#sidebar {
    position: fixed;
    width: 400px;
    height: 100%;
    background-color: rgb(0, 34, 145);
}

#sidebar ul li{
    color: white;
    text-align: left;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid rgba(red, green, blue, .3);
}

.logo {
    display: block;
    margin: 0 auto;
}